
.App {
  text-align: center;
  color: aquamarine;
}

.Api {
  justify-content: center;
   text-align: center;
  flex-direction: row;
  padding: 100px;
  background-color: lightslategray;
  border-radius: 10px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1000vh;
  padding: 100px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
